<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
</head>

<body>
    <%- includ ('/partials/_navbar.ejs') %>
        <h1>Welcome to the Ultimate CookBook</h1>
        <p>An app for collecting your favorite recipes.</p>
        

    <a href="/recipes">Browse Recipes</a>
    
    <a href="/recipes/new">Add A Recipe</a>
    
<a href="/recipes/">Back to Recipes</a>

</body>

</html>