<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>All Recipes</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
      <h1>All Recipes</h1>
      <a href="/recipes/new">+ Add Recipe</a>
    </div>
    <div class="card-container">
      <% recipes.forEach((recipe)=> { %>
        <a href="/recipes/<%= recipe._id %>">
          <h4><%= recipe.ingredients %> Recipe</h4>
          <p>Owned by <%= recipe.owner.username %></p>
        </a>
      <% }) %>
    </div>
</body>
</html>
